extends layout

block content
    h RESULTS
    p Merge Sort: #{merge_score}
    p Quick Sort (front pivot): #{quickfront_score}
    p Quick Sort (middle pivot): #{quickmid_score}
    a(href="/home_Onlogn") Home